@font-face {
    font-family: 'lato';
    src: url("../assets/fonts/lato-Regular.ttf") ;
}
@font-face {
    font-family: 'kscript';
    src: url("../assets/fonts/KaushanScript-Regular.ttf") ;
}
@font-face {
    font-family: 'raleway';
    src: url("../assets/fonts/Raleway-Bold.ttf") ;
}